<div class="container">
    <div class="row-full">
     
        <div class="home-containt">
          <img src="../../../assets/img/brand-logo.png" style="width: 200px">
        </div>
        
        <div class="login-right">
            <div > 
                <!-- class="overlay" -->
                <!-- LOGN IN FORM by Omar Dsoky -->
                <form>
                   <!--   con = Container  for items in the form-->
                   <div>
                   <!--     Start  header Content  -->
                      <header class="head-form">
                        <h2 style="color: white">Log In</h2>
                        <!--     A welcome message or an explanation of the login form -->
                            <p style="color: white">login here using your username and password</p>
                      </header>
                      <!--     End  header Content  -->
                      <br>
                      
                      <div class="input-group input-group-lg" style="margin-left: 8%">
                        
                            <span class="input-group-addon" ><i class="glyphicon glyphicon-user"></i></span>
                            <input id="userid" type="text" class="form-control" name="userid" placeholder="@User Id" style="width: 300px" >
                            
                      </div>
                      <br>
                      
                        
                       
                      <div class="input-group input-group-lg" style="margin-left: 8%">
                        
                          <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                          <input type="password" class="form-control" name="password" placeholder="@Password" style="width: 300px">
                          
                    </div>
                    <br>
                    <br>
                    <div class="input-group input-group-lg" style="margin-left: 8%">
                        
                        
                        <button type="button" class="btn btn-primary btn-lg btn-block" style="width: 350px; height:50px ;">Sign In</button>
                        
                  </div>
                  <br>
                  <br>
                  <div class="row">
                    <div class="input-group input-group-lg" style="margin-left: 8%">
                      <button type="button" class="btn btn-link btn-lg center-block" style="width: 200px; height:50px ;color:white ;display: inline-block">Forget Password</button>
                    
                      <button type="button" class="btn btn-success btn-lg" style="width: 150px; height:50px ;color:white;display: inline-block;">Sign Up</button>
                    </div>
                  </div> 
                  
                  </div> 
                </form>
            </div>
          </div>
        </div>
  </div>